
.services-container {
    padding-top: 4rem; 
    padding-bottom: 4rem; 
    background-color: #0f0715;
   
}

.services-grid {
     display: grid;
    grid-template-columns: repeat(1, 1fr); 
    gap: 2.5rem; 
    width: 80%; 
    margin: 0 auto; 
    margin-top: 5rem;  
    
}

@media (min-width: 640px) { 
    .services-grid {
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (min-width: 1024px) { 
    .services-grid {
        grid-template-columns: repeat(3, 1fr); 
    }
}

@media (min-width: 1280px) {
    .services-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}
