.custom-box {
    background-color: #3730a3; 
    border-radius: 0.375rem; 
    overflow: hidden; 
}

.custom-image {
    width: 100%; 
    height: 250px; 
    object-fit: cover;
}

.custom-padding {
    padding: 1.5rem;
}

.custom-badge {
    border-radius: 0.125rem; 
    padding-left: 1.5rem; 
    padding-right: 1.5rem; 
    padding-top: 0.375rem; 
    padding-bottom: 0.375rem;
    background-color: #f43f5e; 
    color: white; 
    width: fit-content;
}

.custom-heading {
    font-size: 1rem; 
    cursor: pointer;
    color: #E5E7EB;
    line-height: 1.6rem; 
    font-weight: 700; 
    margin-top: 1.5rem; 
    margin-bottom: 0.5rem;
    transition: color 0.2s, text-decoration 0.2s; 
}
.custom-heading1 {
    font-size: 0.875rem; 
    color: white; 
    font-weight: 700; 
    margin-top: 0.5rem; 
}

.custom-heading:hover {
    color: #F3F4F6; 
    text-decoration: underline;
}
.custom-summary {
    font-size: 0.875rem; 
    font-weight: 600; 
    opacity: 0.7; 
    color: rgba(156, 163, 175, 1); 
}
.custom-divider {
    margin-top: 1rem; 
    margin-bottom: 2rem; 
    width: 100%;
    height: 1.5px; 
    background-color: rgba(156, 163, 175, 1); 
    opacity: 0.45; 
}
.custom-flex-container {
    display: flex; 
    align-items: center;
    justify-content: space-between; 
    
    
    
}

.custom-link {
    font-size: 1rem;
    color: white; 
    font-weight: bold; 
    margin-top: 1rem; 
    transition: color 0.2s; 
    cursor: pointer; 
}



/* Responsive Styles */
@media (min-width: 640px) { 
    .custom-heading {
        font-size: 1.125rem; 
    }
}
