*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.nav__link {
    position: relative;
    font-size: 1rem; 
    font-weight: 500; 
    width: fit-content;
    display: block;
    color: white;
}

.nav__link::after {
    content: "";
    display: block;
    position: absolute;
    height: 3px;
    background-color: #facc15; 
    width: 100%;
    transform: scaleX(0);
    transition: transform 0.3s;
    transform-origin: right;
}

.nav__link:hover::after {
    transform: scaleX(1);
}

.text-bg {
    background-image: linear-gradient(to right, #8750f7 0%, #ffffff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.custom-Scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.custom-Scrollbar::-webkit-scrollbar-track {
    background: #44028f;
}

.custom-Scrollbar::-webkit-scrollbar-thumb {
    background: #e277fa;
    border-radius: 4px;
}


#about{
    background-color: #050709;
    padding-top: 4rem;
    padding-bottom: 4rem; 
}

#contact{
    background-color: #050709;
}

#project{
    background-color: #050709;
    padding-top: 4rem; 
    padding-bottom: 4rem; 
}

#reviews{
    background-color: #050709;
    padding-top: 4rem;
    padding-bottom: 4rem; 
}

#services{
    background-color: #050709;
    padding-top: 4rem; 
    padding-bottom: 4rem; 
}