#aboutContainer {
    padding-top: 4rem;    
    padding-bottom: 4rem; 
    background-color: #050709; 
}

#aboutGridContainer {
    width: 80%;                     
    margin-left: auto;              
    margin-right: auto;             
    display: grid;                  
    grid-template-columns: 1fr;     
    gap: 2rem;                      
    margin-top: 5rem;               
    align-items: center;            
}

#aboutTitle {
    background-color: transparent; 
    font-size: 26px;               
    color: #E5E7EB;                
    font-weight: 600;              
}

#aboutDescription {
    margin-top: 1.5rem;          
    font-size: 1rem;             
    color: #6B7280;              
}

#skillContainer {
    margin-top: 2rem; 
}

.skill {
    display: flex;               
    align-items: center;           
    margin-bottom: 1.5rem;         
    gap: 0.5rem;                  
}

.skillBox {
    width: 1.75rem;               
    height: 1.75rem;               
    display: flex;                
    flex-direction: column;        
    align-items: center;          
    justify-content: center;      
}

.skillBoxBlue {
    background-color: #1E3A8A;    
}
.skillBoxOrange {
    background-color: #F97316;   
}

.skillBoxGreen {
    background-color: #22C55E;    
}

.skillText {
    font-size: 0.875rem; 
    font-weight: 700;    
    color: #D1D5DB;      
}

#statisticsContainer {
    display: grid;              
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;                 
    align-items: center;        
}

#statistic {
    display: flex;
    flex-direction: column;
    align-items: center;         
}

.statisticImage {
    width: 80px;                
    height: 80px;              
    margin-bottom: 0.75rem;     
}

.statisticText {
    font-weight: bold;         
    font-size: 1.25rem;         
    color: white;              
    text-align: center;         
}

.statisticSubText {
    font-size: 1rem;            
    color: #9CA3AF;             
    text-align: center;         
}
.responsiveText {
    font-size: 1rem;            
}

@media (min-width: 640px) {  
    .responsiveText {
        font-size: 1.125rem;    
    }
}

/* Responsive styles */
@media (min-width: 640px) { 
    #aboutTitle {
        font-size: 1.875rem;      
    }
    #aboutDescription {
        font-size: 1.125rem; 
    }
}

@media (min-width: 768px) { 
    #aboutTitle {
        font-size: 2rem;       
    }
    #aboutDescription {
        font-size: 1.125rem;  
    }
}

@media (min-width: 1024px) { 
    #aboutTitle {
        font-size: 2.5rem;       
    }
    #aboutGridContainer {
        grid-template-columns: repeat(2, 1fr); 
    }
}

    .skillText {
        font-size: 1rem;   
    }


@media (min-width: 768px) { 
    .skillText {
        font-size: 1.125rem; 
    }
}