.nav {
  position: fixed;
  width: 100%;
  z-index: 10;
  transition: background-color 0.3s ease;
}

.transparent {
  background-color: transparent;
}

.scrolled {
  background-color: #240b39; /* or your desired color */
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem; /* Adjust for lg and sm padding */
}

.lg-padding {
  padding: 1rem 4rem; /* Adjust for larger screens */
}

.sm-padding {
  padding: 0.5rem 2rem; /* Adjust for smaller screens */
}

.logo {
  margin-left: -1.5rem; /* Adjust based on your design */
}

.nav-links {
  display: flex;
  align-items: center;
  transition: opacity 0.3s ease;
}

.nav-link {
  margin-left: 2rem; /* Adjust for spacing */
  cursor: pointer;
  color: white; /* Adjust for your color scheme */
  transition: color 0.3s;
}

.nav-link:hover {
  color: #7947df; /* Your hover color */
}

.hire-button {
  padding: 0.5rem 1rem;
  background-color: white; /* Button color */
  color: blue; /* Button text color */
  font-weight: bold;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}

.hire-button:hover {
  background-color: #f0f0f0; /* Button hover color */
}

.hamburger-icon {
  width: 32px; /* Size of the hamburger icon */
  height: 32px;
  color: white; /* Adjust based on your color scheme */
}
