.client-reviews-section {
  padding-top: 4rem; 
  padding-bottom: 4rem; 
  background-color: #050709;
}

.client-reviews-container {
  width: 90%;
  margin: 0 auto;
  margin-top: 5rem; 
}

@media (min-width: 640px) {
  .client-reviews-container {
    width: 80%; 
  }
}
