.review-card {
  border-radius: 0.375rem; 
  overflow: hidden;
  background-color: #140c1c;
  margin: 1rem; 
}

.review-card-content {
  padding: 1.5rem; 
}

.review-text {
  font-size: 1rem; 
  color: white;
  padding-bottom: 2rem; 
}

.rating-box {
  padding: 0.75rem 1.5rem; 
  margin-bottom: 0.75rem; 
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-radius: 9999px; 
  display: flex;
  align-items: center;
  gap: 0.75rem; 
  background-color: #4b0082; 
  color: white;
  font-weight: bold;
}

.star-icon {
  color: #ffdd00; 
}

.client-info {
  background-color: #f3f4f6; 
}

.client-info-content {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  gap: 1.5rem; 
}

.client-name {
  font-size: 1.125rem; 
  font-weight: bold;
}

.client-profession {
  font-size: 1rem;
  color: #374151;
}
